body{
    /*background-image: linear-gradient(to right, #0575e6, #021b79);*/
    background-image: linear-gradient(to right, #186175, #427c4f);
    text-align: center;
    font-family: sans-serif;
}

nav{
    margin:30px 0px 80px;
    padding-bottom: 20px;
}

#nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#left{
    float: left;
    display: block;
    padding: 10px;
    margin: 10px;
    font-size: 20pt;
    text-decoration: none;
    font-weight: 400;
    color: white;
}

#nav-li {
    float: right;
    font-size: 16pt;
}
  
nav a, #l-des {
    display: block;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    color: white;
}

nav a:hover{
    background-color: #ffffff5b;
    border-radius: 40px;
    cursor: default;
}

#active{
    background-color: #ffffff5b;
    border-radius: 40px;
}

#heading{
    font-size: 26pt;
    color:white;
}

#des{
    text-align: center;
    list-style-type: none;
    margin-bottom: 100px;
}

#des-li{
    background-color: #ffffff2c;
    margin: 10px;
    float: left;
    width: 31%;
    height: 320px;
    font-size: 18pt;
    margin-top: 20px;
    margin-bottom: 60px;
}

#des a:hover{
    color: white;
}

#link1, #link2, #link3{
    color: white;
    background-color: #ffffff6b;
    height: 60px;
    margin: 0px;
    padding-top: 20px;
    font-size: 22pt;
}

#l-des{
    color: rgba(255, 255, 255, 0.6);
    padding: 0px 30px;
}

#footer{
    padding-top: 100px;
    margin: 320px 0px 6px;
    font-size: 18pt;
    color: white;
}

#nav-foot{
    list-style-type: none;
}

#nav-lif{
    text-align: center;
    display: inline-flex;
    margin-right: 30px;
}

i {
    padding: 10px 10px;
    text-decoration: none;
    color: white;
    cursor: default;
}

.tooltip {
    position: relative;
    display: inline-block
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 180px;
    background-color: #ffffff6b;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: 50%;
    margin-left: -105px;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #ffffff6b transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }